#color1{
    color: rgb(30, 27, 32);
}

#color2{
    color: rgb(30, 27, 32);
}

#pelicula1{
    height: 400px;
    width: 300px;
    
    
}

#pelicula2{
    height: 400px;
    width: 300px;
}

.container{
    text-align: center;
}

#bots{
    padding-top: 2%;
}


#space{
    padding-top: 1%;
    float: left;
}


#img{
    padding-top: 2%;
    text-align: center;
}



#seleccion{
  padding-top: 2%;
    text-align: center;
    
}